{% extends 'Main/Basic.html' %}
{% load static %}
{% block css %}
    <style>
      body {
        background-color: #86B3D1;
        font-family: Arial, Helvetica, sans-serif;

      }
      .hello-msg{
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
      }

      .welcome{
        height: 400px;
        width: auto;
        background-color: pink;
      }
      .patta{
        height: 10px;
        width: auto;
        background-color: blue;
      }
      .logo{
        margin-top: 10px;
        height: 120px;
        width: 150px;
        border: 3px solid pink;

      }


      .star{
        margin-top: px;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #000;
      }

      h5 {
        position: relative;
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: 2em;
        letter-spacing: 4px;
        overflow: hidden;
        background: linear-gradient(90deg, #000, #fff, #000);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 3s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
      }

      @keyframes animate {
        0% {
          background-position: -500%;
        }
        100% {
          background-position: 500%;
        }
      }
      .pink{
        width: 1370px;
        height: 400px;
        background-color: red;
        animation-name: example;
        animation-duration: 4s;
      }

      @keyframes example {
        0%   {background-color: red;}
        25%  {background-color: yellow;}
        50%  {background-color: blue;}
        100% {background-color: green;}
      }
      .tone{
        height: 300px;
      }
      .logo {
        margin-left: 200px;
        margin-top: 50px;
        width: 200px;
        height: 200px;
        background: red;
        transition: width 2s, height 2s, transform 2s;
      }

      .logo:hover {
        width: 250px;
        height: 250px;
        transform: rotate(0deg);
      }
      #inline{
        display: inline-block;

      }
      .head{

        color: yellow;
        font-family: "Times New Roman", Times, serif;
        margin-left: 50px;
      }
      .services{
        height: 1000px;
        width: auto;
        margin: 50px;
        background-color: #5F6366;
        color: #EDB5Bf;
        font-weight: bold;
        text-align: center;
        border-radius: 20px;
      }
      #our{
        background-color: blue;
        height: 45px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
      .cardb{
        margin-left: 20px;
      }
      .card{
        background-color: #01064a;
        margin: 20px;
        margin-top: 40px;
      }
      .card:hover{
        padding: 10px;
        box-shadow: 5px 8px 5px 8px #ebc713;
      }
      .car{
        height: 150px;
        width: 200px;
        margin-left: 100px;
      }
      .card-text{
        color: #ebc713;
      }


      .mat{
        padding-top: 10px;
        background-color: #ffc4f5;
        height: 450px;
      }
      .ww{

        margin-left: 75px;
        width: 650px;
        background-color: #ffc4f5;
        height: 300px;
        padding-top: 75px;
      }
      .piv{
        margin-left: 75px;
        height: 200px;
        width: 400px;
      }
      .contact{
        height: 400px;
        width: auto;
        background-color: #5F6366;
      }


      </style>
{% endblock %}

{% block body %}

<div class="patta"></div>

      <div>
        <div class="star">
          <h5 id="inline">Scrappersstop.com</h5>
        </div>
      </div>
    
<div class="patta"></div>

        <div class="tone" style="background-image: url({% static "headback.jpg" %});>

          <img src="{% static 'logo1.png' %}" alt="" class="logo">

            <h1 id="inline" class="head">
              <i>Hie,</i>
              Welcome  To  ScrappersStop!!
          </h1>
</div>


        <div class="services">
          <h2 id="our">Our Services</h2>
          <div class="cardb" >

          <div class="card-group">
            <div class="card" style="width: 118rem;">
              <img src="{% static 'scrap1.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Selling</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'rere.jpg' %}" class="car" alt="...">
              <div class="card-body">
                <h5 class="card-title">Recycling</h5>

              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'cc.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Awareness</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>


          <div class="card-group" >
            <div class="card" style="width: 118rem;">
              <img src="{% static 'area.gif' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Selling</h5>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'events.jpg' %}"  alt="...">
              <div class="card-body">
                <h5 class="card-title">Recycling</h5>

              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'ccc.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="#"><h5 class="card-title">Awareness</h5></a>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>


        <div class="mat">

          <div class="ww" id="inline">
            <h2> Scrap Management Solutions For Everyone </h2>
            <br>
              <p class="he"><b>ScrappersStop</b> provides scrap solutions to Industries, Hospitals, Businesses
            Door To Door Service to Customers In the Area We Cover.</p><p> We provide Eco-friendly, scrap and hazardous waste management solutions. At ScrappersStop Scrap & Recycling, we have always been concerned about the environment and making sure we can make positive changes.</p>

          </div>

            <img src="{% static 'pin.jpg' %}" class="piv" alt="..." id="inline">
        </div>
        <div class="contact">

        </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'index.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
{% endblock %}
